@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 88, 166;
    --background-end-rgb: 33, 66, 114;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: #060d17;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: .023em
}

.banner {
  background: linear-gradient(from left,
      rgb(var(--background-start-rgb)),
      to right,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}