@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 88, 166;
    --background-end-rgb: 33, 66, 114;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: #060d17;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: .023em
}

.banner {
  background: linear-gradient(from left,
      rgb(var(--background-start-rgb)),
      to right,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient-border-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, #1A54A1, #452053);
  /* Customize gradient colors here */
}

.hmpg-rvws {
  background-image: linear-gradient(180deg, rgba(234, 241, 250, 0) 3.13%, #eaf1fa 49.48%, rgba(234, 241, 250, 0) 85.94%);
}

.carousel-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 5px 0;
  /* border: 2px solid; */
  /* border-color: #4b5563; */
  margin: 0 auto;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  /* &:hover {
    transform: scale(0.9);
    box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
      10px 10px 8px rgba(152, 133, 133, 0.392),
      15px 15px 8px rgba(139, 154, 139, 0.303);
  } */

  border-radius: 20%;
  /* background: rgb(41, 40, 40); */
}

/* .carousel-card>img {
  height: 80%;
  width: 80%;
  border-radius: 10%;
} */



.carousel-track {
  display: flex;
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 20s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
}

.logos:after {
  right: 0;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  animation: 35s slider infinite linear;
}

.logos-slide>.card {
  width: 300px;
  margin: 0 10px;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}